<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../img/cerberus.png" rel="icon">
    <title>Exercício</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../css/style2.css">
    <!-- <link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css"> -->
    <link rel="stylesheet" href="../css/Aula1.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="background-animation-container">
        <div class="background-gradient"></div>
    </div>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Atividades 2019</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Exercício 1</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                        onclick="ajax('../index.html')">
                        Home
                    </a>
                </li>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Exercícios</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#ex_1">Exercício 1</a>
                        </li>
                        <li>
                            <a href="#ex_2">Exercício 2</a>
                        </li>
                        <li>
                            <a href="#ex_3">Exercício 3</a>
                        </li>
                        <li>
                            <a href="#ex_4">Exercício 4</a>
                        </li>
                        <li>
                            <a href="#ex_calc">Calculadora</a>
                        </li>
                        <li>
                            <a href="#ex_19">Exercício 19</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://github.com/lucasdcorrea1/lucasdcorrea1.github.io" class="download">
                        Download source
                    </a>
                </li>

            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            <button type="button" style="position: fixed;" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
            <!-- ex 1 inicio -->
            <div id="ex_1"></div>
            <div id="container" class="container">

                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Exercício 1</h3>
                            <div style="max-width: 84%;" class="d-flex justify-content-end social_icon">
                                <a href="https://github.com/lucasdcorrea1" target="_blank"><span><img
                                            src="../img/ironcat.png" class="logogit" /></span></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-artstation"></i></span>
                                    </div>
                                    <input type="text" id="integer1" class="form-control"
                                        placeholder="Informe Um número inteiro" onkeyup="somenteNumeros(this);"
                                        maxlength="5" type="text" ng-model="numero.valor">
                                </div>
                                <div aling="center" class="form-group">
                                    <button type="button" id="botao" onclick="impar_par()"
                                        class="btn btnwarning">=</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">

                            <div class="d-flex justify-content-center links"><a id="Viu">
                                    Seu resultado Vai aparecer aqui!!!
                            </div>
                            <div class="d-flex justify-content-center">
                                <a id="ResultEx1" href="#" class="result"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- fim ex 1 -->
            <!-- Ex2   -->
            <div id="ex_2"></div>
            <div id="container" class="container">

                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Exercício 2</h3>
                            <div style="max-width: 84%;" class="d-flex justify-content-end social_icon">
                                <a href="https://github.com/lucasdcorrea1" target="_blank"><span><img
                                            src="../img/linktocat.png" class="logogit" /></span></a>

                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                    </div>
                                    <input type="text" id="ano" class="form-control" placeholder="Informe Um Ano"
                                        onkeyup="somenteNumeros(this);" maxlength="4" type="text"
                                        ng-model="numero.valor">
                                </div>
                                <div aling="center" class="form-group">
                                    <button type="button" id="botao" onclick="ano_bissexto()" class="btn btnwarning"><i
                                            class="fas fa-calendar"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">

                            <div class="d-flex justify-content-center links"><a id="Viu">
                                    Seu resultado Vai aparecer aqui!!!
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="result" id="ResultEx2"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Ex 2 fim  -->
            <!-- Ex 3 inicio  -->
            <div id="ex_3"></div>
            <div id="container" class="container">

                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Exercício 3</h3>
                            <div style="max-width: 84%;" class="d-flex justify-content-end social_icon">
                                <a href="https://github.com/lucasdcorrea1" target="_blank"><span><img
                                            src="../img/heisencat.png" class="logogit" /></span></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                    </div>
                                    <select value="selects" id="mes" placeholder="Informe Um mes" class="form-control">
                                        <option value="0">Janeiro</option>
                                        <option value="1">Fevereiro</option>
                                        <option value="2">Março</option>
                                        <option value="3">Abril</option>
                                        <option value="4">Maio</option>
                                        <option value="5">Junho</option>
                                        <option value="6">Julho</option>
                                        <option value="7">Agosto</option>
                                        <option value="8">Setembro</option>
                                        <option value="9">Outubro</option>
                                        <option value="10">Novembro</option>
                                        <option value="11">Dezembro</option>
                                    </select>
                                </div>
                                <div aling="center" class="form-group">
                                    <button type="button" id="botao" onclick="BuscaMes()" class="btn btnwarning"><i
                                            class="fas fa-calendar"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">

                            <div class="d-flex justify-content-center links"><a id="Viu">
                                    Seu resultado Vai aparecer aqui!!!
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="result" id="ResultEx3"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Ex 3 fim  -->
            <!--Ex 4 inoicio  -->
            <div id="ex_4"></div>
            <div id="container" class="container">

                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Exercício 4</h3>
                            <div style="max-width: 84%;" class="d-flex justify-content-end social_icon">
                                <!-- <a href="https://www.facebook.com/lucas.damas.35" target="_blank" ><span><i class="fab fa-facebook-square"></i></span></a> -->
                                <a href="https://github.com/lucasdcorrea1" target="_blank"><span><img
                                            src="../img/github-octocat-vector-png--896.png"
                                            class="logogit" /></span></a>
                                <!-- <a href="https://www.instagram.com/lucas_damas_/?hl=pt-br" target="_blank" ><span><i class="fab fa-instagram"></i></a> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div id="divnumber1" class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-sort-numeric-down"></i></span>
                                    </div>
                                    <input type="text" id="number10" class="form-control"
                                        placeholder="Informe o primeiro número" onkeyup="somenteNumeros(this);"
                                        maxlength="5" type="text" ng-model="numero.valor">
                                </div>
                                <div id="divnumber2" class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                                    </div>
                                    <input type="text" id="number20" class="form-control"
                                        onkeyup="somenteNumeros(this);" maxlength="5"
                                        placeholder="Informe o segundo número">
                                </div>
                                <div id="divnota" class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-audible"></i></span>
                                    </div>
                                    <input type="text" id="nota" class="form-control" maxlength="2"
                                        placeholder="Informe Sua nota">
                                </div>

                                <div aling="center" class="form-group">
                                    <button type="button" id="botao1" onclick="numeros_diferentes()"
                                        class="btn btnwarning">=</button>
                                    <button type="button" id="botao2" onclick="rep_nota()" class="btn btnwarning"><i
                                            class="fas fa-biohazard"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">

                            <div class="d-flex justify-content-center links"><a id="Viu">
                                    Seu resultado Vai aparecer aqui!!!
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="result" id="ResultEx4"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Ex 4 fim  -->
            <!-- calculadora 1 inicio  -->
            <div id="ex_calc"></div>
            <div id="container" class="container">

                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Calculadora</h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-artstation"></i></span>
                                    </div>
                                    <input type="text" id="number1" class="form-control"
                                        placeholder="Informe o primeiro número" onkeyup="somenteNumeros(this);"
                                        maxlength="5" type="text" ng-model="numero.valor">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-artstation"></i></span>
                                    </div>
                                    <input type="text" id="number2" class="form-control" onkeyup="somenteNumeros(this);"
                                        maxlength="5" placeholder="Informe o segundo número">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><img src="../img/calculator.png"
                                                style="max-width:95%" /></span>
                                    </div>
                                    <input type="text" id="operation" class="form-control" maxlength="1"
                                        placeholder="Informe a operação">
                                </div>

                                <div aling="center" class="form-group">
                                    <button type="button" id="botao" onclick="calculadora()"
                                        class="btn btnwarning">=</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">

                            <div class="d-flex justify-content-center links"><a id="Viu">
                                    Seu resultado Vai aparecer aqui!!!
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="#" style="color:#ffc312 !important;" id="Result"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Calculadora 1 fim  -->
            <!-- ex 19 inicio -->
            <div id="ex_19"></div>
            <div id="container" class="container">

                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Exercício 19</h3>
                            <div style="max-width: 84%;" class="d-flex justify-content-end social_icon">
                                <a href="https://github.com/lucasdcorrea1" target="_blank"><span><img
                                            src="../img/ironcat.png" class="logogit" /></span></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-artstation"></i></span>
                                    </div>
                                    <input type="text" id="txtNumero_texto" class="form-control"
                                        placeholder="Informe palavras e números" type="text">
                                </div>
                                <div aling="center" class="form-group">
                                    <button type="button" id="botao" onclick="ex_split()"
                                        class="btn btnwarning">=</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">

                            <div class="d-flex justify-content-center links"><a id="Viu">
                                    Seu resultado Vai aparecer aqui!!!
                            </div>
                            <div class="d-flex justify-content-center">
                                <a id="resultEx19_1" href="#" class="result"></a>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a id="resultEx19_2" href="#" class="result"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- fim ex 19 -->
            <!-- Page Content  -->
        </div>
    </div>

</body>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<script type="text/javascript" src="../js/aula1.js"></script>

</html>